In [2]:
# 以下のReserveのように横持（リスト）を縦持ちに展開する関数を作成してください

import numpy as np
import pandas as pd
dfm = pd.DataFrame(
    [
    {"Pos":"QB","regular":12,"Reserve":[9,8]},
    {"Pos":"CB","regular":28,"Reserve":[37,23,38,20]},
    {"Pos":"WR","regular":19,"Reserve":[83,82,81,17,18]},
    {"Pos":"T","regular":69,"Reserve":[75,78]},
    {"Pos":"S","regular":36,"Reserve":[35,21,29,27]},
    {"Pos":"RB","regular":22,"Reserve":[33,88,30]}
    ]
     ,columns=["Pos","regular","Reserve"]
)
dfm

  Pos  regular               Reserve
0  QB       12                [9, 8]
1  CB       28      [37, 23, 38, 20]
2  WR       19  [83, 82, 81, 17, 18]
3   T       69              [75, 78]
4   S       36      [35, 21, 29, 27]
5  RB       22          [33, 88, 30]

In [4]:
# 横持（リスト部分だった部分）を縦持に整形する
import numpy as np
import pandas as pd
dfm = pd.DataFrame(
    [
    {"Pos":"QB","regular":12,"Reserve":[9]},
    {"Pos":"QB","regular":12,"Reserve":[8]},
    {"Pos":"CB","regular":28,"Reserve":[37]},
    {"Pos":"CB","regular":28,"Reserve":[23]},
    {"Pos":"CB","regular":28,"Reserve":[38]},
    {"Pos":"CB","regular":28,"Reserve":[20]},
    {"Pos":"WR","regular":19,"Reserve":[83]},
    {"Pos":"WR","regular":19,"Reserve":[82]},
    {"Pos":"WR","regular":19,"Reserve":[81]},
    {"Pos":"WR","regular":19,"Reserve":[17]},
    {"Pos":"T","regular":69,"Reserve":[75]},
    {"Pos":"T","regular":69,"Reserve":[78]},
    {"Pos":"S","regular":36,"Reserve":[35]},
    {"Pos":"S","regular":36,"Reserve":[21]},
    {"Pos":"S","regular":36,"Reserve":[29]},
    {"Pos":"S","regular":36,"Reserve":[27]},
    {"Pos":"RB","regular":22,"Reserve":[33]},
    {"Pos":"RB","regular":22,"Reserve":[88]},
    {"Pos":"RB","regular":22,"Reserve":[30]}
    ]
     ,columns=["Pos","regular","Reserve"]
)
dfm

   Pos  regular Reserve
0   QB       12     [9]
1   QB       12     [8]
2   CB       28    [37]
3   CB       28    [23]
4   CB       28    [38]
5   CB       28    [20]
6   WR       19    [83]
7   WR       19    [82]
8   WR       19    [81]
9   WR       19    [17]
10   T       69    [75]
11   T       69    [78]
12   S       36    [35]
13   S       36    [21]
14   S       36    [29]
15   S       36    [27]
16  RB       22    [33]
17  RB       22    [88]
18  RB       22    [30]

In [ ]:
# 01_pattern_list_to_vertical.py
dfm = pd.DataFrame(
    [
    {"Pos":"QB","regular":12,"Reserve":[9,8]},
    {"Pos":"CB","regular":28,"Reserve":[37,23,38,20]},
    {"Pos":"WR","regular":19,"Reserve":[83,82,81,17,18]},
    {"Pos":"T","regular":69,"Reserve":[75,78]},
    {"Pos":"S","regular":36,"Reserve":[35,21,29,27]},
    {"Pos":"RB","regular":22,"Reserve":[33,88,30]}
    ]
)
to_vertical_columns = '"Reserve"
outname = pattern_list_to_vertical.csv

import numpy as np
import pandas as pd

def pattern_list_to_vertical(dfm, to_vertical_column, outname)
  """
  input
    dfm
    to_vertical_columns
  output
    pattern_list_to_vertical.csv
  """
   :
    ここに処理を書く
　：    
  to_csv(outname)