# 040_dfmをrecordsに変換する関数を作成

## 目的

- df = pd.daraframe(recrds)したdfを再びrecordsに戻す。
- recs = rdfm_ro_recs(dfm) のような関数。

## 条件

- recsは `[{キー:値},{},{}]`

## 1. 入力：データフレームを作成

In [1]:
import pandas as pd


def create_tbl():
    tbl = pd.DataFrame(
        [
        {"lcd": "E001", "product": "abc", "price": 100},
        {"lcd": "E001", "product": "abc", "price": ''},
        {"lcd": "E001", "product": "abc", "price": None},
        {"lcd": "E002", "product": "abc", "price": ''},
        {"lcd": "E002", "product": "abc", "price": None},
        {"lcd": "E003", "product": "abc", "price": ''},
        {"lcd": "E003", "product": "abc", "price": None},
        {"lcd": "F001", "product": "abc", "price": 100},
        {"lcd": "F001", "product": "abc", "price": ''},
        {"lcd": "F001", "product": "abc", "price": None},
        {"lcd": "F002", "product": "abc", "price": ''},
        {"lcd": "F002", "product": "abc", "price": None},
        {"lcd": "F003", "product": "abc", "price": ''},
        {"lcd": "F003", "product": "abc", "price": None}
        ],columns=["lcd", "product", "price"]
    )
    return tbl

tbl = create_tbl()
tbl

     lcd product price
0   E001     abc   100
1   E001     abc
2   E001     abc  None
3   E002     abc
4   E002     abc  None
5   E003     abc
6   E003     abc  None
7   F001     abc   100
8   F001     abc
9   F001     abc  None
10  F002     abc
11  F002     abc  None
12  F003     abc
13  F003     abc  None

## 2. 処理

In [2]:
import json

def dfm_to_records(dfm):
    """
    func
    df = pd.daraframe(recrds)したdfを再びrecordsに戻す
    In
    dfm : pd.DataFrame（recordsへの変換用）
    Out
    records : [{キー:値},{},{}]に変換されたリスト
    columns_list : 元のdfmの列名のリスト
    """
    # dfmをjson形式（recordsの形）に変換
    records = dfm.to_json(orient="records")
    # 得られたjson文字列をリストに修正
    records = json.loads(records)

    # dfmの列名を取得
    columns_list = list(dfm.columns)

    return records, columns_list

### 3. 出力

In [3]:
records, col = dfm_to_records(tbl)

In [4]:
records

[{'lcd': 'E001', 'product': 'abc', 'price': 100},
 {'lcd': 'E001', 'product': 'abc', 'price': ''},
 {'lcd': 'E001', 'product': 'abc', 'price': None},
 {'lcd': 'E002', 'product': 'abc', 'price': ''},
 {'lcd': 'E002', 'product': 'abc', 'price': None},
 {'lcd': 'E003', 'product': 'abc', 'price': ''},
 {'lcd': 'E003', 'product': 'abc', 'price': None},
 {'lcd': 'F001', 'product': 'abc', 'price': 100},
 {'lcd': 'F001', 'product': 'abc', 'price': ''},
 {'lcd': 'F001', 'product': 'abc', 'price': None},
 {'lcd': 'F002', 'product': 'abc', 'price': ''},
 {'lcd': 'F002', 'product': 'abc', 'price': None},
 {'lcd': 'F003', 'product': 'abc', 'price': ''},
 {'lcd': 'F003', 'product': 'abc', 'price': None}]

In [5]:
col

['lcd', 'product', 'price']

### dfmを再生できるか確認

In [6]:
df = pd.DataFrame(records, columns=col)

df

     lcd product price
0   E001     abc   100
1   E001     abc
2   E001     abc  None
3   E002     abc
4   E002     abc  None
5   E003     abc
6   E003     abc  None
7   F001     abc   100
8   F001     abc
9   F001     abc  None
10  F002     abc
11  F002     abc  None
12  F003     abc
13  F003     abc  None